.vscode
.idea
.clang-format
*.o
*.dll
*.a
*.exe
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
/bin
*.log
*.sh
!dll/generate_csharp_def.sh
*.zip
/tests/
/build/

# local dev specific files
/docs/out/html
/docs/*.pdi
/test_images/
/demo_gui/
lib/*.txt
!lib/build_update.sh
dll/generate_def.bat
demo/*_filters.h
lib/neuquant*
demo/similarity*
demo/seam_carve*
demo/*.txt
/demo_ui/
/test_files/
/releases/

