.vscode
.idea
.clang-format
*.o
*.dll
*.a
*.exe
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
/bin
demo/test_filters.h
*.log
*.sh
/demo_ui
/docs/out/html
/docs/*.pdi
/test_images/

# palette work in progress
/lib/palette.h
/demo/palette.c
/screenshots/*