.vscode
.idea
.clang-format
*.o
*.dll
*.a
*.exe
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
/bin
demo/test_filters.h
*.log
*.sh
!lib/build_update.sh
!dll/generate_csharp_def.sh
/docs/out/html
/docs/*.pdi
/test_images/
*.zip
/tests/
/build/
/demo_gui/
/lib/*.txt
